@charset "utf-8";

/* 메인메뉴와 로그인, 알림 아이콘 서식 */
.on{
  color: #000 !important;
}

/* 헤더에 마우스 오버시 적용할 서식 */
.h_on{
  background-color: rgba(255,255,255,0.9) !important;
}

/* 메인 내비게이션 */
#m_nav{
  position: fixed;right: 30px;top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 200px;height: 160px;
}
#m_nav > ul{
  position: relative;
}
#m_nav > ul > li{
  width: 30px;height: 30px;
  /*background-color: rgba(0, 0, 0, .8);*/
  border-radius: 40px;
  position: absolute;right: 0px;
  line-height: 30px;
  /*text-align: center;*/
  overflow: hidden;
  transition: 0.5s;
}
#m_nav > ul > li:first-child{}
#m_nav > ul > li:nth-child(2){top: 50px;}
#m_nav > ul > li:nth-child(3){top: 100px;}
#m_nav > ul > li:nth-child(4){top: 150px;}
#m_nav > ul > li:last-child{top: 200px;}

.arctic_Scroll{
  position: absolute;right: 10px;
}
.act{
  width: 200px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

#m_nav > ul > li > span{
  display: inline-block;
  width: 30px;height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 179, 255, 0.6);
  color: #fff;
  text-align: center;
  font-weight: bold;
}

#m_nav > ul > li:hover > span{
  background: rgb(0, 179, 255);
}

#m_nav > ul > li > a{
  color: #fff;
  display: inline-block;
  width: 160px;
  text-align: center;
  position: absolute;top: 0px;
}


/* 메인영상 서식*/
#movie{position: relative;}

/* 메인영상 위에 올라가는 콘텐츠*/
.m_info{
  position: absolute;
  width: 100%;top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.m_info h2{
  font-size: 60px;
  font-weight: bold;
}
.m_info p{
  line-height: 80px;
  font-size: 16px;
}
.m_info a{
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  margin: 0px 20px;
  padding: 5px 10px;
}
.m_info a:first-of-type{
  background-color: rgb(0, 110, 255);
}
/*.movie #next_btn{
  position: absolute;
  bottom: 40px;
  display: inline-block;
  width: 12px;height: 7px;
  background-image: url('../images/bg-arrow.2c3ad4f.png');
  background-position: -30px -30px;
}*/
#movie #next_btn{
  position: absolute;
  bottom: 50px;left: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  display: inline-block;
  width: 30px;height: 30px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-indent: -9999px;
}

/* top3 */

#top3{
  position: relative;
  padding: 180px 0 120px;
  box-sizing: border-box;
}
.title{
  text-align: center;
}
.title > h2{
  font-size: 45px;
  font-weight: 600;
}
.title > p{
  font-size: 16px;
  margin-top: 20px;
  color: #333;
  word-wrap: break-word;
  font-weight: bold;
  padding-bottom: 100px;
}
.order{
  text-align: center;
  margin-bottom: 40px;
}
.order > em{
  display: inline-block;
  box-sizing: border-box;
  font-size: 15px;
  color: #007fa8;
  border: 1px solid #007fa8;
  height: 30px;
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 0 20px;
  text-align: center;
  line-height: 2;
  font-weight: 500;
}
.order > .tit{
  display: block;
  font-size: 32px;
  color: #012c5f;
  font-weight: 500;
  margin-bottom: 100px;
}
.img{
  position: relative;
  height: 300px;
  text-align: center;
}
.img img{
  width: auto;
  height: 100%;
}
.info > .img{
  font-family: "HyundaiSansHeadKR";
  font-weight: inherit;
  word-wrap: break-word;
  line-height: 1.2;
  color: inherit;
}
.info > .img img{
  width: 56px;
  height: 40px;
}
.info > .text > .t_t{
  display: block;
  font-weight: 500;
  margin-bottom: 7px;
}

/*1위*/

.swiper-button-next, .swiper-button-prev{
  position: absolute;
}
.swiper-button-next{
  font-size: 1.6rem;
  right: 30% !important;
  z-index: 1000 !important;
}
.swiper-button-prev{
  font-size: 1.6rem;
  left: 30% !important;
}
.swiper-pagination{
  position: absolute;
  bottom: -100px;
}
.btn_p{
  font-size: 16px;
  display: inline-block;
  border: 1px solid #012c5f;
  background-color: #fff;
  width: 150px;
  margin: 50px 20px 0px 0px;
  padding: 10px 30px;
  text-align: center;
  transition: 0.3s;
}
.btn_p:hover{
  color: #fff !important;
  background: #012c5f;
  border-color: #012c5f;
}
.btn_p:hover a{
  color: #fff;
}

/* 구매혜택 */
#intro .con{
  width: 1200px;
  text-align: center;
  margin: 0px auto;
}
#intro .con .box{
  box-sizing: border-box;
  text-align: center;
}
#intro .con .box li{
  display: inline-block;
  vertical-align: top;
  background: #fff;
  height: 414px;
  width: 285px;
  padding: 40px 0 0;
  position: relative;
  margin: 0px 5px;
}
#intro .con .box li .tag{
  box-sizing: border-box;
  display: block;
  width: 56px;
  height: 24px;
  margin: 0 auto;
  padding-top: 4px;
  color: #fff;
  background: #012c5f;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
}
#intro .con .box li .tit{
  display: block;
  font-size: 22px;
  color: #012c5f;
  margin: 12px 0 190px;
}
  #intro .con .box li p{
    font-size: 15px;
    line-height: 1.4;
  }
#intro .con .box li::before{
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  background: url(../images/ico-main-benefit.47fd372.png) 0 0 no-repeat;
  background-size: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 128px;
  left: 50%;
}
#intro .con .box li.tax::before{
  background-position: -140px;
}
#intro .con .box li.blue::before{
  background-position: -280px;
}
#intro .con .box li.tinted::before{
  background-position: -420px;
}
#intro .con .box li a{cursor: pointer;}
#intro .con .box li a:hover{
  text-decoration: underline;
  text-underline-position: under;
}
.box li .btn_bl{
  margin-top: 20px !important;
}
.btn_bl{
    display: inline-flex;
    font-size: 15px;
    color: #007fa8;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.btn_bl::after{
  margin-top: 0px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border: 1px solid #007fa8;
  border-left: 0;
  border-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 3px;
}

/*test_drive*/
.movie_casper{
  text-align: center;
  padding-top: 50px;
}
#test_drive ol{
  margin-top: 70px;
  text-align: center;
}
#test_drive ol li{
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  text-align: center;
  position: relative;
}
#test_drive ol li .btn_bl{
  color: #000 !important;
  font-weight: 500;
  margin-top: 0;
}
#test_drive ol li .btn_bl > span{
  border-bottom: 1px solid transparent;
}
#test_drive ol li .btn_bl::after{
  width: 5px;
  height: 5px;
  border-color: #000;
}
#test_drive ol li>span{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size: 15px;
  margin-bottom: 60px;
  font-weight: bold;
}
#test_drive ol li.step1::before{
  width: 30px;
}
#test_drive ol li.step2::before{
  width: 19px;
  background-position: left -30px top;
}
#test_drive ol li.step3::before{
  width: 50px;
  background-position: left -49px top;
}
#test_drive ol li.step4::before{
  width: 40px;
  background-position: left -99px top;
}
#test_drive ol li.step5::before{
  width: 50px;
  background-position: left -139px top;
}
#test_drive ol li.step6::before{
  width: 52px;
  height: 23px;
  background-position: 100% 0;
}
#test_drive ol li::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  background: url(../images/ico-main-guide.72b7c3f.png) 0 0 no-repeat;
  background-size: auto;
  position: absolute;
  top: 33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


/*이벤트*/

/*슬라이드*/
.event_slide{
  width: 1200px;
  margin:0 auto;
}
.event_slide .swiper {
width: 100%;
height: 100%;
}

.event_slide .swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.event_slide .swiper-slide img {
  width: 100%;
  height: 300px;
}
.event_slide .swiper-button-next2, .event_slide .swiper-button-next2{
  position: absolute;
}
.event_slide .swiper-button-next{
  font-size: 1.6rem;
  left: 100% !important;
  z-index: 10000 !important;
}
.event_slide .swiper-button-prev{
  font-size: 1.6rem;
  right: 100% !important;
  z-index: 10000 !important;
}
.swiper-pagination2{
  text-align: center;
}


/*맞춤 추천*/
#buy_info .title > p{
  padding-bottom: 30px !important;
}
#buy_info .reco{
  margin-top: 80px;
}
#buy_info .reco ul{
  display: flex;
  align-items: flex-start;
}
#buy_info .reco ul li{
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 32.5%;
  box-sizing: border-box;
}
#buy_info .reco ul li:nth-child(2){
  margin: 0 1.25%;
}
#buy_info .reco .explain .title{
  display: block;
  font-weight: 500;
  text-align: left;
  font-size: 22px;
  margin: 37px 0 20px;
  line-height: 1.2;
}
#buy_info .reco .explain{
  width: 100%;
  text-align: left;
}
#buy_info .reco .explain>p{
  box-sizing: border-box;
  font-size: 15px;
  min-height: 75px;
  margin-bottom: 60px;
  line-height: 1.8;
}

/*마우스오버 이펙트*/
.img_box{
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.img_box * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.img_box img {
  width: 100%;
  height: 250px;
  display: inline-block;
  object-fit: cover;
}
.img_box figcaption {
  position: absolute;
  top: calc(100%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  padding: 137px 25px 65px;
}
.img_box figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  left: 0;
  width: 100%;
  height: 250px;
}
.img_box h3,
.img_box p {
  margin: 0 0 10px;
}
.img_box h3{
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
}
.img_box h3 .big{
  font-size: 2rem;
}
.img_box h3 .small{
  font-size: 1rem;
  font-weight: bold;
}
.img_box p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.img_box a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.img_box:hover figcaption,
.img_box.hover figcaption {
  top: 0px;
}
.img_box:hover img{
  transform: scale(1.2);
}


/*메인배너*/

#main_banner{
  width: 100%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
}
#main_banner ul{
  display: flex;
}
#main_banner ul li{
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
#main_banner ul li>a{
  width: 100%;
  display: block;
  font-size: 0;
}
#main_banner ul li>a img{
  width: 100%;
  height: auto;
}

/*하단 노티스*/
.notice_bg{
  box-sizing: border-box;
  background: #f6f3f2;
  width: 100%;
  height: 70px;
}
.notice_bg .notice_box{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.notice_bg .notice_box .title{
  width: 90px;
  font-size: 15px;
  color: #000;
}
.notice_bg .notice_box .notice_ex{
  display: inline-block;
  vertical-align: top;
  width: 450px;
}


/*푸터*/

.footer-wrap{
  background: #1c1a1b;
}
.footer-wrap .footer_con{
  box-sizing: border-box;
  position: relative;
  width: 1200px;
  height: 230px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
}
.footer-wrap .footer_con .logo{
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 21px;
  background: url(../images/logo-hyundai.a9ebdc6.png) 0 0 no-repeat;
  background-size: auto;
  background-size: 150px 21px;
}
.footer_con .logo .offscreen{
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.footer_con .menu{
  width: 1200px;
}
.footer_con .menu ul{
  font-size: 0;
}
.footer_con .menu ul li{
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: #888;
}
.footer_con .menu>ul.guide>li:nth-child(2):before, .footer_con .menu>ul.guide>li:nth-child(3):before, .footer_con .menu>ul.guide>li:nth-child(4):before, .footer_con .menu>ul.guide>li:nth-child(5):before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 10px;
  background-color: #444;
  margin: 0 20px;
}
.footer_con .menu ul>li a{
  font-size: 15px;
  color: #888;
}
.footer_con .menu ul.footer_info{
  box-sizing: border-box;
  width: 750px;
  margin: 20px 0 0;
}
.footer_con .menu ul.footer_info>li{
  margin: 0 40px 12px 0;
}
.footer_con .menu p{
  display: block;
  margin: 0 40px 12px 0;
}